.avatar{
    width: 14em;
    border-radius: 100%;
    height: 14em;
    padding: 2em;
}
.updateProfile1{
    display: flex;
    justify-content: center;
    gap: 7em;
    border: 1px black solid;
    width: 50em;
    margin-left: 25%; 
    margin-bottom: 2em;  
}
form label{
    font-size: larger;
}
.updatePhoto h1, .updatePhoto h2{
    font-size: medium;
    font-weight: 200;
}
.updateInfo{
    padding: 2em;
}
.bottom-button{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    padding: 1em;
}
.change_data{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.change_data select{
    border: none;
    color: rgb(205, 15, 176);
    align-items: center;
}
.change_data option{
    border: none;
    font-weight: 100;   
    color: rgb(205, 15, 176);
}
@media only screen and (max-width: 600px) {
    .updateProfile1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7em;
        border: 1px black solid;
        width: 50em;  
        margin-bottom: 2em;  
    }
  }