/* Page styles */
.entirePage {
  background-image: url('https://plus.unsplash.com/premium_photo-1681398750730-ef82e310a86f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1267&q=80');
  background-size: cover;
  position: relative;
}


/* Main content section */
.details {
  height: 40%;
  display: flex;
  color: rgb(89, 7, 7);
}

/* Image section */
.images {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

/* Reduce image opacity on hover */
.images:hover {
  opacity: 0.8;
}

/* About section */
.aboutSection {
  color: wheat;
}

/* Image styles */
img {
  width: 10cm;
  height: 10cm;
  border-radius: 30px 30px 30px 30px;
}

/* Article section */
#article {
  width: 60%;
  margin-left: 4%;
  color: rgb(89, 7, 7);
}

