input{
	appearance: none;
	border-radius: 0;
}
.card{
    margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 300px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
}
button{
    color: #999;
}