.updateProfile1 {
  display: flex;
  height: 100vh;
  width: 80%;
  margin-left: 20%;
  /* margin: 50px; */
}

.updatePhoto {
  height: 40%;
  width: 20%;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px;
}
 .updateProfile1 img {
  border-radius: 50%;
  width:180px;
  height: 180px;
  margin-top: 2%;
  margin-left: 3%;
}

.updateInfo {
  height: 40%;
  width: 40%;
  background-color: rgb(255, 254, 254);
  box-shadow: 2px 2px 4px 2px;
}
.updateInfo input {
  width: 60%;
  border-radius: 2px;
  border-color: black;
}
.updateInfo select {
  width: 30%;
  border-radius: 2px;
  border-color: black;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  margin-top: 4%;
  font-family: Arial, Helvetica, sans-serif;
}
.updateInfo button{
  background-color: rgb(202, 202, 202);
  margin-top: 2%;
  border: transparent;
}
