.updateProfile1 {
  display: flex;
  height: 100vh;
  width: 100vw;
  /* margin: 50px; */
}

.updatePhoto {
  height: 40%;
  width: 20%;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px;
}
 .updateProfile1 img {
  border-radius: 50%;
  width:180px;
  height: 180px;
  margin-top: 2%;
  margin-left: 3%;
}

.updateInfo {
  height: 40%;
  width: 40%;
  background-color: rgb(255, 254, 254);
  box-shadow: 2px 2px 4px 2px;
}
.updateInfo input {
  width: 60%;
  border-radius: 2px;
  border-color: black;
}
select {
  width: 60%;
  border-radius: 2px;
  border-color: black;
}
