.App {
  text-align: center;
}


.top{
  display: inline-flex;
}

.top img{
  border-radius: 15px;
  padding-top: 1%;
  float:left;
}

.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FF5A5F ;
  
}

.card {
  width: 50%;
  border-radius: 15px;
  max-height:50%;
  margin: 14px;
  box-shadow: 0 2px 4px 0 rgb(88, 63, 63);
  word-wrap: break-word;
  background-color:  #087E8B;
  display: inline-flex;
}

.card-content{
  
  padding-left: 12%;
  
  color: aliceblue;
}

.container{
  background-color: red;
  padding: 0%;
  margin: auto;
}

input[type=text],
select {
  width: 50%;
  padding: 18px 30px;
  margin: 10px 0;
  display: inline-block;
  border: 15px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.input-space{
  color: blue;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=text] {
font-size: 20px;
}

 select {
   appearance: none;
   outline: 0;
   background: white;
   background-image: none;
   width: 50%;
   height: 150%;
   color: black;
   cursor: pointer;
   border: 1px solid black;
   padding: 18px 30px;
   margin: 10px 0;
    display: inline-block;
    border: 15px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 20px;
 }
 button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

 button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

 button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.input-space2{
  font-size: 40px;
  width: 100%;
}

h1{
  font-size: 70px;
}



