.App {
  text-align: center;
}


.top{
  display: inline-flex;
}

.top img{
  border-radius: 15px;
  padding-top: 1%;
  float:left;
}

.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FF5A5F ;
  
}

.card {
  width: 50%;
  border-radius: 15px;
  max-height:50%;
  margin: 14px;
  box-shadow: 0 2px 4px 0 rgb(88, 63, 63);
  word-wrap: break-word;
  background-color:  #087E8B;
  display: inline-flex;
}

.card-content{
  
  padding-left: 12%;
  
  color: aliceblue;
}

.card img {
  max-height: 756px;
  max-width:427px;
  border-radius: 15px;
}





.card-content h3{
  font-style: oblique;
  font-size: 60px;
  
}

.card-content p {
  font-style: oblique;
  font-size: 32px;
  
}


