.App {
  text-align: center;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.top img {
  border-radius: 15px;
}
.footer {
  background-color: #fa586a;
  color: black;
  padding: 30px;
  text-align: center;
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.footer__social-icons a {
  margin-right: 10px;
}
.footer__contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__item {
  margin: 10px;
}
.footer__item span {
  margin-right: 5px;
  font-weight: bold;
}
.footer__review {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.footer__form button {
  box-shadow: border-box;
  border-radius: 8px;
  margin-top: 12px;
  width: 15%;
  height: 5%;
  background-color: black;
  color: #fa586a;
}
.footer__reviews p {
  margin: 10px 0;
}
.footer__link {
  color: black;
  font-weight: bold;
  margin: 0 20px;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__links {
  padding: 1%;
}
